[submodule "plugins/start/fzf.vim"]
	path = plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "plugins/start/vim-airline"]
	path = plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plugins/start/vim-airline-themes"]
	path = plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "plugins/start/vim-fugitive"]
	path = plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "themes/opt/vim-colors-solarized"]
	path = themes/opt/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "themes/opt/papercolor-theme"]
	path = themes/opt/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "themes/opt/nord-vim"]
	path = themes/opt/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "themes/opt/ayu-vim"]
	path = themes/opt/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "themes/opt/gruvbox"]
	path = themes/opt/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "plugins/start/vim-elixir"]
	path = plugins/start/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule "plugins/start/vim-go"]
	path = plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "plugins/start/fzf"]
	path = plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "plugins/start/Ionide-vim"]
	path = plugins/start/Ionide-vim
	url = https://github.com/ionide/Ionide-vim.git
